body {
  background: url(https://images.unsplash.com/photo-1603058817990-2b9a9abbce86?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80);
  color: white;
  background-color: black;

}

.carousel-item img {
  height: 550px;
  width: 550px;
  object-fit: fill;
  border-radius: 50%;
  padding: 2rem;
  margin: auto;
  display: block;
}

.carousel-caption {
  border: 5px solid black;
  width: flex;
  background-color: rgba(128, 128, 128, 0.425);
}

.nav-item{
  margin: auto;
}

